* {
  box-sizing: border-box;
}

.audio-recorder {
  margin-top: 16px;
  display: flex;
  gap: 4px;
}

.combine-recordings {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 8px;
}

.secondary-button {
  background: none;
  border: none;
  text-decoration: underline;
}

p {
  margin: 0
}